#root{
    width: 40rem;
    height: 40rem;
    background-color: rgba(188, 165, 189, 0.5);
    border: 5px solid rgb(51, 51, 51);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
#lista_usuarios{
    font-size: 20px;
    color: rgb(51, 51, 51);
}
